services:
  backend:
    build:
      context: ./backend
    container_name: ajt_backend
    env_file:
      - .env
    volumes:
      - ./backend:/app
    ports:
      - "8000:5001"
    depends_on:
      - postgres
    networks:
      - ajt-network

  frontend:
    build:
      context: ./frontend
    container_name: ajt_frontend
    volumes:
      - ./frontend:/app
    ports:
      - "3000:80"
    networks:
      - ajt-network

  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB:?POSTGRES_DB is required}
      POSTGRES_USER: ${POSTGRES_USER:?POSTGRES_USER is required}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:?POSTGRES_PASSWORD is required}
    volumes:
      - ajtpro_postgres_data:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5433:5432"
    networks:
      - ajt-network

volumes:
  ajtpro_postgres_data:


networks:
  ajt-network:
    name: ajtpro_default # nom explicite pour toutes les commandes & scripts
    external: true
